{% load static %}

<link rel="stylesheet" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}">

<h3>{{ filter_title }}</h3>

<ul>
  <li>
    <form method="GET" action="">
      <label id="changelist-filter-dropdown" class="list-filter-dropdown" for="{{ spec.parameter_name }}">Месяц:</label>
      <input
         type="text"
         value="{{ spec.value|default_if_none:'' }}"
         name="{{ spec.parameter_name }}"
         id="{{ spec.parameter_name }}"/>
      <button class="button" type="submit">Найти</button>
    </form>
  </li>
</ul>